<footer class="footer">
<div class="footer-content">
        <div class="footer-item footer_item-shops">
            <div class="footer-item-title__block">
                <h3 class="footer__title">Shops</h3>
                <button class="button-cross__footer form__button">
                    <span class="cross cross_footer"></span>
                </button>
            </div>
            <ul class="footer__menu">
                <li class="footer__menu-item">
                    <a href="" class="footer-item_link link">New In</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Women</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Men</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Shoes</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Bags & Accessories</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Top Brands</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Sale & Special Offers</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Lookbook</a>
                </li>
            </ul>
        </div>
        <div class="footer-item footer_item-information">
            <div class="footer-item-title__block">
                <h3 class="footer__title">Information</h3>
                <button class="button-cross__footer form__button">
                    <span class="cross cross_footer"></span>
                </button>
            </div>
            <ul class="footer__menu">
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">About us</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Customer Service</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">New Collection</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Best Sellers</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Manufacturers</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Privacy policy</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Terms & condition</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Blog</a>
                </li>
            </ul>
        </div>
        <div class="footer-item footer_item-customer">
            <div class="footer-item-title__block">
                <h3 class="footer__title">Customer service</h3>
                <button class="button-cross__footer form__button">
                    <span class="cross cross_footer"></span>
                </button>
            </div>
            <ul class="footer__menu">
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Search Terms</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Advanced Search</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Orders and Returns</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Contact Us</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">RSS</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Help & FAQs</a></li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Consultant</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="link footer-item_link">Store Locations</a>
                </li>
            </ul>
        </div>
        <div class="footer-item footer_item-conncted">
            <div class="footer-item-title__block">
                <h3 class="footer__title">Stay connected</h3>
            </div>
            <ul class="header-block__social-network footer__social-network">
                <li class="social-network_item footer-social-network_item">
                    <a class="social-network__link footer_social-network_link fb-link link" href="#">
                        <svg class="social-network__icon icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512">
                            <use xlink:href="assets/img/svg/svg-symbols.svg#fb"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-network_item footer-social-network_item">
                    <a class="social-network__link footer_social-network_link tv-link link" href="#">
                        <svg class="social-network__icon icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <use xlink:href="assets/img/svg/svg-symbols.svg#tv"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-network_item footer-social-network_item">
                    <a class="social-network__link footer_social-network_link instogram-link link" href="#">
                        <svg class="social-network__icon icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.29 10.29">
                            <use xlink:href="assets/img/svg/svg-symbols.svg#instogram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-network_item footer-social-network_item">
                    <a class="social-network__link footer_social-network_link pinterest-link link" href="#">
                        <svg class="social-network__icon icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                            <use xlink:href="assets/img/svg/svg-symbols.svg#pinterest"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-network_item footer-social-network_item">
                    <a class="social-network__link footer_social-network_link wf-link link" href="#">
                        <svg class="social-network__icon icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 595 842">
                            <use xlink:href="assets/img/svg/svg-symbols.svg#wf"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer__title footer__title_inner">Subscribe <span class="footer__title-span">in</span> our news
                letter</p>
            <form id="subscribe" class="subscribe__form" method="post">
                <input type="email" name="subscribeEmail" class="subscribe__form-input form__input" placeholder="Enter Your Email Address" required title="Subscribe">
                <button class="subscribe__form-button form__button" type="submit" name="subscribeButton"  title="subscribe">
                    Subscribe
                </button>
            </form>
        </div>
</div>
<div class="footer__copyright-block">
        <div class="footer-line"></div>


        <small class="copyright">
            <span class="copyright__item">&copy; 2015  Shopia  Fashion Store Shopify.</span >
            <span  class="copyright__item">All Rights Reserved. Ecommerce Software by Shopify.</span >
            <span  class="copyright__item">Designed by MoccaLabs.com</span >
        </small>
        <div class="copyright__links">
            <a href="#" class="copyright__link visa-link link"><img src="assets/images/visa.jpg" alt=""></a>
            <a href="#" class="copyright__link m-k-link link"><img src="assets/images/master_card.jpg" alt=""></a>
            <a href="#" class="copyright__link pay-link link"><img src="assets/images/pay.jpg" alt=""></a>
            <a href="#" class="copyright__link discover-link link"><img src="assets/images/discover.jpg" alt=""></a>
        </div>

    </div>
</footer>

<script src="assets/libs/jquery/jquery.min.js"></script>
<script src="assets/libs/slick/js_min/slick.min.js"></script>
<script src="assets/libs/svg4everybody/svg4everybody.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>