<form class="nav-top-block__sing-in" method="post">
	<button class="sing-in__button form__button" type="submit" aria-label="sing-in" name="sing-in-button">
		login
	</button>
</form>
<div class="main-top-block pseudo-width-background">
	<a class="phone-top-block__link link" href="#">
		<svg class="main-top-block__icon icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
			<use xlink:href="assets/img/svg/svg-symbols.svg#phone"></use>
		</svg>
		<span class="fon-top-block__phone-number">Call+001 555 801</span>
	</a>
	<nav class="nav-top-block">
		<ul class="nav-top-block__nav-list">
			<li class="nav-top-block__list-item">
				<a class="nav-top-block__link link" href="#">
					welcome msg
				</a>
			</li>
			<li class="nav-top-block__list-item">
				<a class="nav-top-block__link link" href="#">
					my account
				</a>
			</li>
			<li class="nav-top-block__list-item">
				<a class="nav-top-block__link link" href="#">
					my whistlist
				</a>
			</li>
			<li class="nav-top-block__list-item">
				<a class="nav-top-block__link link" href="#">
					login
				</a>
			</li>
		</ul>
	</nav>
</div>