.footer{
  width: 100%;
  min-height: 20px;
  background-color: @black_Color;
  position: relative;
}

.footer-content{
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1340px;
  padding: 0 30px;
  margin: auto;
  @media (max-width: 520px) {
    padding: 0 25px;
  }
}