.header-block{
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: @background_Color;
  max-width: 1340px;
  padding: 0 30px;
  min-height: 127px;
  margin: auto;
}

.header-block__main-menu {
  display: flex;
  align-items: center;
  flex-basis: 100% / 3;
}
.header-block__main-menu-list {
  display: flex;
  align-items: center;
}
.main-menu-list__item {
  margin-right: 24px;
}
.main-menu__link {
   font-family: "Playfair Display Italic";
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
 }

.main-menu__link:link {
  background-color: transparent;
  color: @font_Color;
}

.main-menu__link:visited {
  background-color: transparent;
  color: @font_Color;
}

.main-menu__link:hover {
  background-color: transparent;
  color: @gold_Color;
}

.main-menu__link:focus {
  background-color: transparent;
  color: @font_Color;
}

.main-menu__link:active {
  background-color: transparent;
  color: @font_Color;
}

.header-block__main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100% / 3;
}
.main-logo__link{
  font-family:"Krinkes Decor PERSONAL USE";
  font-style:normal;
  font-weight:400;
  font-size: 72px;
  color: @font_Color;
}


.main-logo__link:link {
  background-color: transparent;
  color: @font_Color;
}

.main-logo__link:visited {
  background-color: transparent;
  color: @font_Color;
}

.main-logo__link:hover {
  background-color: transparent;
  color: @gold_Color;
  transition: all .3s;
}

.main-logo__link:focus {
  background-color: transparent;
  color: @font_Color;
}

.main-logo__link:active {
  background-color: transparent;
  color: @font_Color;
}

.header-block__main-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 100% / 3;
}
.header-block__social-network {
  display: flex;
  align-items: center;
  margin: 0 34px 0 0;
}
.social-network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 17px;
  margin-right: 13px;
}

.social-network__link:link {
  background: transparent;
  border: 2px solid @gold_Color;
  color: @gold_Color;
}

.social-network__link:visited {
  background: transparent;
  border: 2px solid @gold_Color;
  color: @gold_Color;
}

.social-network__link:hover {
  background: transparent;
  border-radius: 17px;
  border: 2px solid @select_font_Color;
  color: @select_font_Color;
}

.social-network__link:focus {
  background: transparent;
  border: 2px solid @gold_Color;
  color: @gold_Color;
}

.social-network__link:active {
  background: transparent;
  border: 2px solid @gold_Color;
  color: @gold_Color;
}

@media (max-width: 950px) {
  .header-block__main-menu-list {
    flex-direction: column;
    align-items: start;
    margin: 15px 0;
  }
  .main-menu__link  {
    display: flex;
    margin: 3px 0;
  }
  .header-block__main-links {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .header-block__social-network {
    margin: 0 0 15px 0;
  }
  .social-network__link {
    margin: 0 0 0 13px;
  }
}

@media (max-width: 730px) {
    .header-block {
      flex-direction: column;
    }
    .header-block__main-menu {
        order: 2;
        flex-basis: 100%;
        align-items: start;
        justify-content: center;
    }
    .main-menu-list__item:last-child {
      margin-right: 0;
    }
    .header-block__main-menu-list  {
      flex-direction: row;
      margin: 15px 0 20px 0;
    }
    .header-block__main-logo{
        order: 3;
        flex-basis: 100%;
        margin-bottom: 15px;
      }
    .header-block__main-links {
      order: 1;
      flex-basis: 100%;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    .header-block__social-network {
      margin: 15px 25px 15px -20px;
    }
  }
@media (max-width: 520px) {
    .header-block{
      padding: 0 25px;
    }
  }



@media (max-width: 340px) {
    .header-block__social-network {
      margin: 15px 20px 15px -20px;
    }
  }
