.our-brand_block{
  margin-top: -15px;
}
.our-brand__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 46px ~"calc(46px - 30px)" 0 46px;
  @media (max-width: 850px){
    flex-wrap: wrap;
  }
  @media (max-width: 390px){
    margin: 0;
  }
}

.our-brand__link{
  display: block;
  margin-bottom: 10px;
  width: auto;
  @media (max-width: 1050px){
    margin-right: 30px;
    width: ~"calc(33% - 30px)";
    margin-bottom: 25px;
  }
  @media (max-width: 480px){
    width: ~"calc(50% - 30px)";
    margin-right: 30px;
    margin-bottom: 25px;
  }
  @media (max-width: 390px){
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
}