.our-brand_block{
  margin-top: -15px;
}
.our-brand__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin: 46px ~"calc(46px - 30px)" 10px 46px;
  @media (max-width: 850px){
    flex-wrap: wrap;
  }
}
.our-brand__item{
  display: flex;
  @media (max-width: 1050px){
    margin-right: 30px;
    max-width: ~"calc(100% -30px)";
  }
  @media (max-width: 850px){
    max-width: ~"calc(33.3333% -30px)";
    margin-right: 30px;
  }
}